.container {
  display: flex;
  align-items: center;
}

.root {
  background-color: rgb(252, 251, 251);
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #858585;

  &[data-state='checked'] {
    border: 2px solid #5e84ff;
  }

  &:hover {
    cursor: pointer;
  }
}

.checkboxCell {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .reset {
    opacity: 1;
    cursor: pointer;
  }
}

.reset {
  font-weight: 500;
  font-style: normal;
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #69a8ff;

  opacity: 0;
}

.indicator {
  color: #5e84ff;
}

.label {
  color: #4d4d4d;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;

  &:hover {
    cursor: pointer;
  }
}
